.main-head-wrapper,.filters-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.main-head-wrapper{
    padding:1.5rem 5rem 1rem 5rem;
}
.main-heading{
    font-size: 2.7rem;
    font-weight: bold;
}
.input-wrapper{
    position: relative;
}
.input-wrapper > span{
    display: block;
    position: absolute;
    right:8px;
    top:8px;
    padding:0.1rem .2rem .01rem .2rem ;
    border-radius: 50%;
    background-color: var(--color-primary-100);
}
.input-wrapper > input {
    padding:.6rem 1.5rem;
}

.filters-wrapper{
    background-color: var(--color-light);
    border-radius: 5px;
    margin:1.5rem 0;
    padding:1.5rem;
    margin:2rem 5rem;
}
.filters-wrapper > div{
    text-align: center;
}
.filters-wrapper > div::after {
   border:1px solid var(--color-primary-100);
   content: "";
   margin-left:8rem
}

.filters{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.filters > input{
    width:12rem;
}
.filters > input,.filters > select {
    border: none;
    font-size: 1.3rem;
    padding:.5rem 0 0 0;
    font-weight: 600;
}
.filters > input:focus,.date-input:focus{
    outline: none;
    border-bottom: 1px solid var(--color-grey-400);
}

.filters > label,.filters > span {
    color: var( --color-grey-400);
}
.filters > select {
  outline: none;
    background-color: var(--color-light);
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left:4rem;
    padding-bottom: 2rem;
}

